$pink: #be046d;
$light-pink: #fff4fa;
$gray: #444;
$white: #fff;
$shadow: 0 4px 12px rgba(190, 4, 109, 0.15);
$shadow-hover: 0 6px 18px rgba(190, 4, 109, 0.25);
$radius: 1rem;
$break-md: 768px;



.feed-page {
  text-align: center;
  h1 {
    color: $pink;
    font-weight: 700;
  }
}

.feed-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 1.7rem;

  .feed-card {
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-color: $light-pink;
    

        .feed-img {
          width: 100%;
          height: 450px;
          object-fit: cover;
          
        }

        .card-body {
      text-align: left;
      padding: 1rem;
      

      .card-title {
        color: $pink;
        font-weight: 600;
        font-size: 1.1rem;
      }

      .card-text {
        font-size: 0.8rem;
        color: $gray;
      }
    }
    .text-body-secondary {
        font-size: 0.7rem;
        color: $gray;
    }
  }
}
