body {
  background-color: rgb(255, 209, 239);
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #be046d;
  text-align: center;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
    
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.2rem;
    
  }
}

.auth-card {
    background-color: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 6px 16px rgba(190, 4, 109, 0.15);
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 22px rgba(190, 4, 109, 0.25);
    }
    
}

label {
    color: #8f0152;
    font-weight: 600;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;

    &:focus {
        border-color: #be046d;
        box-shadow: 0 0 0 0.25rem rgba(190, 4, 109, 0.25);
    }
}

.form-check-input:checked {
    background-color: #be046d;
    border-color: #be046d;
  }

.btn {
    background-color: #be046d;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    
    font-weight: 600;
 
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #a0035a;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(190, 4, 109, 0.25);
    }
  }


 .auth-card.register {
  background-color: #fff4fa; 
}
