$pink: #be046d;
$light-pink: #fff4fa;
$gray: #444;
$white: #fff;
$radius: 1rem;
$break-md: 768px;

// Responsive helpers
// Mobile devices (up to 576px)
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 577px) and (max-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

// Generic responsive mixin using a breakpoint map
@mixin respond($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }
  }
}


//Inputs//
// Rounded input field
@mixin rounded-input($radius: 2rem, $padding-y: 0.6rem, $padding-x: 1rem) {
  border-radius: $radius;
  padding: $padding-y $padding-x;
  border: 1px solid lighten($gray, 40%);
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;

  &:focus {
    border-color: $pink;
    box-shadow: 0 0 5px rgba($pink, 0.5);
  }
}

// Placeholder for input base style
%input-base {
  width: 100%;
  border: 1.5px solid lighten($pink, 20%);
  background-color: $white;
  font-size: 1rem;

  &::placeholder {
    color: lighten($gray, 20%);
  }
}





